@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth ;
}

.sidebar{
    /* background-color:red; */
    width: 100%;
    height: 100vh;
    background:
    linear-gradient(
      rgba(45, 45, 45, 0.175),
      /* rgba(0, 0, 0, 0.7), */
       rgb(9, 20, 73)
        /* rgb(20, 66, 8) */
    ),
    url("pic/IMG_4182.JPG c.png");    
    background-size: cover;
    background-position: inherit;
}
body{
    /* background:(rgb(21, 43, 152),rgb(6, 39, 13)); */
    color: rgb(0, 0, 0);
    background-color:rgb(7, 23, 104);
    
}
.navbar{
    padding: 10px 0 20px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    background-color: #1515155e;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.logo{
    width: 140px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 2.5px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -4px; 
    transition: 0.3s;
}
nav ul li a:hover{
    color: #ff004f;
    transform: scale(1.);
}

nav ul li a:hover::after{
    width: 100%;
}
.home-social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    position: fixed;
    margin: 10% 0% 0% 96.5%;
}
/* .home-social-icon{
    font-size: 33px;
    color: rgb(249, 249, 249);
    
} */
.home-social-icon,.home-social-icon1,.home-social-icon2{
    font-size: 33px;
    color: rgb(249, 249, 249);
  
}
.home-social-icon :hover{
    color: #0a19bd;
}
.home-social-icon1 :hover{
    color: black;
    /* display: none; */
}
.home-social-icon2 :hover{
    color: rgb(255, 0, 200);
}
.hd-text{
    margin-top: 14%;
    font-size: 23px;
    padding-left: 3%;
}
.hd-text h1{
    font-size: 55px;
    margin-top: 20px;
    color: #fff;
    filter:drop-shadow(6px 4px 17px black);
}
.hd-text h1 span{
    color:#ff6f00;
}
.hd-text h4{
    font-size: 32px;
    color: rgb(255, 252, 233);
    font-weight: 400;
    filter: drop-shadow(2px 2px 10px black);
    
}
.hd-text h4 span{
    color: rgb(224, 154, 69);
    font-weight: 500;
    
}
.srm-logo{
    filter:drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.51));
    width: 13%;
    margin-left: 135px;
    margin-top: 15px;
}
/* ------------ABOUT SECTION----------- */

#about{
    padding: 30px 60px 40px 25px ;
    color: rgb(216, 216, 216);
    background-image: linear-gradient(rgb(11, 21, 72),rgb(23, 65, 12));
    height: 100vh;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}
.about-col-1{
    flex-basis: 25%;
    padding-left: 50px;
}
.about-col-1 img{
    width:100%;
    border-radius:25px;
    margin-top: 85px;
}
.about-col-2{
    flex-basis: 72%;
}
.subtitale{
    color: white;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 5px;
    padding-left: 21%;
    margin-right: 8px;
    background-color: #00000029;;
}
.about-subtitale{
    color: #faebd799;
    padding-left: 24.5%;
    font-weight: 300;
    font-size: 15px;
}

.about-col-2 p{
    font-size: 16px;
    padding-top:12px ;
    padding-right: 50px;
}
.tabtitales{
    display: flex;
    margin: 20px 0 25px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 2.5px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}
.tab-links.active-link::after{
    width: 100%;
}

.tab-contents{
    display: none;
}
.hobby1 {

    font-size: 15px;
    margin: 10px;
}
.hobby1 h3{
    color: #ff598e;
    font-weight: 500;
    font-size: 20px;
    /* padding: 10px; */
    /* padding-bottom: 5px; */
}
.sideslogan{
    padding-left: 15px;
    color: #abababc8;
}
.sideslogan i{
    color: #8c95ff;
    font-size: 20px;
}

.tab-contents.active-tab{
    display: block;
}
.about-buttons a{
    background:#69696989;
    color: rgb(247, 247, 247);
    padding: 7px 15px;
    font-weight: 400;
    display: inline-block;
    font-size: 17px;
    margin-left: 50%;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 25px;
    transition: transform 0.3s;

}
.about-buttons a:hover{
    transform: scale(1.1);
    background:#ff004f;
}
.masteredu{
    padding: 10px;
}
.qualification-titale{
    font-size: 20px;
    font-weight: 500;
    color:#ff598e;
}
.qualification-subtitale{
    color: #abababa2;
    padding-left: 15px;
}
.qualification-calendar {
    font-size: 15px;
    color: #abababa2;
    padding-left: 15px;
}
.qualification-calendar i {
    color: #8c95ff;
    font-size: 20px;
}
/*
.qualification-tabs{
    display: flex;
    justify-content: space-evenly;

}
.qualification-button{
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}
.qualification-button:hover{
    color: #ff004f;
}
.qualification-icon{
    font-size: 22px;
    margin-right: 5px;
}
.qualification-data{
    display: grid;
    grid-template-columns: 0.1fr max-content 0.1fr;
    column-gap: 50px;
}
.qualification-titale{
    font-size: 20px;
    font-weight: 400;
}
.qualification-subtitale{
    font-size: 15px;
    display: inline-block;
}
.qualification-calendar{
    font-size: 10px;
    color: #ababab;
}
.qualification-rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #0a19bd;
    border-radius: 50%;
}
.qualification-line{
    display: block;
    width: 1px;
    width: 100%;
    background-color: aliceblue;
    transform: translate(6px,-7px);
} */

/* -----------------skills------------- */
.skill-container{
    row-gap: 0;
}
.skillsection{
    background-image: linear-gradient(rgb(20, 66, 8),rgb(9, 20, 73));
    padding: 80px 60px 40px 50px;
    height: 100vh;

}
.section-titale{
    text-align: center;
    background-color: #00000029;
    font-size: 45px;
    letter-spacing: 10px;
    font-weight: 600;
    color: #ffffff;
    padding-left: 6px;
}
.section-subtitale{
    /* text-align: center; */
    color: #faebd799;
    padding-left: 46%;
    font-weight: 300;
    font-size: 15px;
}
.skill-header{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
}
.skill-arrow{
    font-size: 27px;
    color: rgb(183, 192, 255);
}
.skill-icon{
    margin-right:11px;
    font-size: 30px;
    color: rgb(183, 192, 255);
}
.skill-titale{
    font-size: 30px;
    color: beige;
    font-weight: 400;
}
.skill-subtitale{
    font-size: 17px;
    color: #faebd799;
    font-weight: 300;
}
.skill-titales{
    display: flex;
    color: aqua;
    justify-content: space-between;
}
.skill-name{
    font-size: 15px;
    font-weight: 400;
}
.skill-bar,
.skill-persentage{
    height: 3px;
    border-radius: 25rem;
}
.skill-bar{
    background-color: rgb(204, 255, 204);
    /* margin-top: -9px; */
}
.skill-persentage{
    display: block;
    background-color: rgb(132, 85, 192);
}
.skill-html{
    width: 90%;
}
.skill-css{
    width: 70%;
}
.skill-js{
    width: 40%;
}
.skill-uiux{
    width: 80%;
}
.skill-canva{
    width: 90%;
}
.skill-xd{
    width: 80%;
}
.skill-editing{
    width: 80%;
}
.skill-c{
    width: 60%;
}
.skill-cpp{
    width: 70%;
}
.skill-python{
    width: 80%;
}
.skill-cs{
    width: 30%;
}
.skill-data{
    width: 60%;
}
.skill-list{
    row-gap: 1.5rem;
    padding-left: 2.8rem;
}
.skill-close .skill-list{
    height: 0;
    overflow: hidden;
}
.skill-open .skill-list{
    height: max-content;
    margin:10px 0 10px;
    padding-right: 33%;
    line-height: 45px;
}
.skill-open .skill-arrow{
    transform: rotate(180deg);
    /* transform: skewY(45deg); */
}




/* ----------------Projects ----------*/
.project{
    background: linear-gradient(rgb(9, 20, 73),rgb(20, 66, 8));
    padding: 30px 66px 40px 25px;
    font-size: 15px;
    
}
.sub-titale{
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 45px;
    background-color: #00000029;
    margin-top: 50px;
}
.project-subtitale{
    color: #faebd799;
    padding-left: 46%;
    font-weight: 300;
}
.projects-done{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.no-of-projects{

    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.no-of-projects img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height:0;
    background:linear-gradient(rgba(0, 0, 0, 0.709),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight:300;
    transition: height 0.3s;
}
.layer h3{
    font-weight:500;
    font-size: 20px;
    margin-bottom: 10px;
}
.layer a{
    margin-top: 10px;
    color:#ff004f ;
    font-size: 23px;
    line-height: 50px;
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;

}
.no-of-projects:hover img{
    transform: scale(1.1);
}
.no-of-projects:hover .layer{
    height: 100%;
    cursor: pointer;
}
/* ------------------Contact------------ */
.contact{
    background: linear-gradient(rgb(20, 66, 8),rgb(6, 17, 73));
    padding: 30px 66px 30px 25px;
    height: 100vh;
}
.sub-titales{
text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 42px;
    background-color: #00000029;
}
.contact-subtitale{
    color: #faebd799;
    padding-left: 34%;
    font-weight: 300;
    font-size: 15px;
}
.contact-left{
    flex-basis: 40%;
    margin-top: 14px; 
}
.contact-right{
    flex-basis: 55%;
}
.contact-left p{
    margin-top: 20px;
    color: #ababab;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon{
    padding-left: 38px;
    padding-top: 10px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #69696989;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
}
form .btn{
    border-radius:50px;
    background:#69696989;
    color: white; 
    padding: 8px 35px;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
    margin-bottom: 5px; 
    margin-left: 39%;
    transition: transform 0.5s;
    border-style: none;
    
}
form .btn:hover{
    background: #ff004f;
    transform: scale(1.1)
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #b4b4b4;
    font-weight: 400;
}
.copyright span{
    font-weight: 600;
}
.copyright i{
    color: #ff004f;
}

#msg{
    color: #ff004f;
    padding-left: 34%;
}





